language: ruby
gemfile:
  - gemfiles/rails23.gemfile
  - gemfiles/rails30.gemfile
  - gemfiles/rails31.gemfile
  - gemfiles/rails32.gemfile
rvm:
  - 1.8.7
  - 1.9.2
  - 1.9.3
  - 2.0.0
  - 2.1.0
  - jruby-18mode
  - jruby-19mode
  - rbx
matrix:
  exclude:
    - rvm: 1.9.3
      gemfile: gemfiles/rails23.gemfile
    - rvm: 2.0.0
      gemfile: gemfiles/rails23.gemfile
    - rvm: 2.1.0
      gemfile: gemfiles/rails23.gemfile
    - rvm: jruby-19mode
      gemfile: gemfiles/rails23.gemfile
    - rvm: rbx
      gemfile: gemfiles/rails23.gemfile
